.text-orange {
  color: #fd7e14 !important;
}

.list-group-item-dark {
  color           : #fff;
  background-color: #212529;
}

@media screen and (max-width: 1440px) {

  * {
    margin         : 0;
    padding        : 0;
    text-decoration: none;
    list-style     : none;
    box-sizing     : border-box;
  }

  #hero {
    background: #1c1a19;
  }

  .hero-intro {
    width: 566px;
  }

  .heading {
    font-family: "Crete Round", sans-serif;
    font-size  : 72px;
    color      : #f55800;
  }

  .h2 {
    font-family: "Inter";
    font-style : normal;
    font-weight: 500;
    font-size  : 32px;
    line-height: 44px;
  }

  .para {
    font-family: "Inter";
    font-style : normal;
    font-weight: 400;
    font-size  : 20px;
    line-height: 32px;
    color      : #f4f5f7;
  }

  .featured-work {
    margin         : 100px 100px 25px 100px;
    justify-content: space-between;
  }

  .recent-work {
    display       : flex;
    flex-direction: row;
    position      : relative;
    margin-top    : -90px;
  }

  .work-title {
    flex       : 2;
    /* Title */
    width      : 100%;
    height     : 52px;
    font-family: 'Crete Round';
    font-style : normal;
    font-weight: 400;
    font-size  : 40px;
    line-height: 52px;

    /* identical to box height, or 130% */
    display    : flex;
    align-items: center;

    /* Neutrals/N900 */
    color: #091E42;

    /* Inside auto layout */
    margin: 100px 0;
  }

  .card {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    height        : 100%;
    height        : 435px;
  }

  .card1 {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    height        : 100%;
  }

  .card-img {
    flex: 3;
  }

  .card-body {
    flex: 1;
  }

  .card2 {
    background-image: url("images/card2.png");
    position        : relative;
    padding         : 0 4%;
  }

  .card3 {
    background-image: url("images/card3.png");
    position        : relative;
    padding         : 0 4%;
  }

  .card4 {
    background-image: url("images/card2.png");
    position        : relative;
    padding         : 0 4%;
  }

  .card5 {
    background-image: url("images/card2.png");
    position        : relative;
    padding         : 0 4%;
  }

  .card6 {
    background-image: url("images/card3.png");
    position        : relative;
    padding         : 0 4%;
  }

  .card-body2 {
    position: absolute;
    top     : 40%;
  }

  .card-title2 {
    /* Title Post */
    width : 337px;
    height: 81px;

    font-family: 'Crete Round';
    font-style : normal;
    font-weight: 400;
    font-size  : 32px;
    line-height: 44px;

    /* Neutrals/N0 */
    color: #fff;
  }

  .card-text2 {
    /* Supporting Text */
    width      : 337px;
    height     : 72px;
    font-family: 'Inter';
    font-style : normal;
    font-weight: 400;
    font-size  : 17px;
    line-height: 24px;
    color      : #fff;
  }

  .cardwork-ul {
    display       : flex;
    flex-direction: row;
    padding       : 0;
  }

  .cardwork-ul>li {
    /* Tag */
    box-sizing  : border-box;
    margin-right: 10px;

    /* Auto layout */
    display        : flex;
    flex-direction : row;
    align-items    : center;
    padding        : 10px 12px;
    justify-content: space-between;
    height         : 40px;

    /* Neutrals/N0 */
    background: #FFFFFF;

    /* Neutrals/N90 */
    border: 1px solid #8993A4;

    /* Inside auto layout */
    flex     : none;
    order    : 0;
    flex-grow: 0;
  }

  .cardwork-ul2 {
    /* Auto layout */
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 10px 0;

    /* html */
    font-family: 'Inter';
    font-style : normal;
    font-weight: 500;
    font-size  : 15px;
    line-height: 20px;

    /* Neutrals/N0 */
    color          : #fff;
    list-style-type: none;
  }

  .cardwork-ul2>li {
    /* Auto layout */
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 10px 12px;
    margin        : 0 5px;
    width         : 56px;
    height        : 40px;
    background    : rgba(255, 255, 255, 0.24);
  }

  .btn2 {
    /* Action */
    position  : absolute;
    width     : 100%;
    height    : 43px;
    padding   : 0 30%;
    bottom    : 0px;
    background: #F55800;
    margin-top: 25px;
  }

  .container {
    margin       : 0 100px 25px 100px;
    padding-left : 0;
    padding-right: 0;
  }

  .col {
    width: 30%;
  }
}