* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #6c757d;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
	--black: #000;
}

.bg-gray {
	background-color: var(--gray-400);
}

.btn-clr {
	background-color: #f55800;
	color: #fff;
	width: 124px;
}

#hero {
	background: #1c1a19;
	background-image: url("./images/Group.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right;
}

.hero-intro {
	max-width: 500px;
}
.heading {
	font-family: "Crete Round", sans-serif;
	font-size: 72px;
	color: #f55800;
}

.hd2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 44px;
	color: #fff5e1;
}

.para {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #f4f5f7;
}

.icn {
	color: #dbd8d7;
}

.cd1,
.cd4 {
	background-image: url("./images/card4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cd2,
.cd5 {
	background-image: url("./images/card2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cd3,
.cd6 {
	background-image: url("./images/card3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.card {
	margin: 10px;
	height: 460px;
	width: 340px;
}

@media screen and (min-width: 768px) {
	.social {
		width: 10% !important;
	}
}

@media screen and (max-width: 990px) {
	#hero {
		background-image: url("./images/hd1.png");
		background-size: contain;
		background-position: center right;
	}
}

@media screen and (max-width: 768px) {
	#hero {
		background-image: url("./images/hd1.png");
		background-repeat: no-repeat;
		background-size: 30%;
		background-position: bottom right;
	}
}